<igx-tabs>
  <igx-tab-item>
    <igx-tab-header>
      <!-- <igx-icon igxTabHeaderIcon>library_music</igx-icon> -->
      <span igxTabHeaderLabel>MÁQUINA</span>
    </igx-tab-header>
    <igx-tab-content>
      <app-list-view></app-list-view>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item>
    <igx-tab-header>
      <!-- <igx-icon igxTabHeaderIcon>favorite</igx-icon> -->
      <span igxTabHeaderLabel>OPERARIOS</span>
    </igx-tab-header>
    <igx-tab-content>
      <app-list-view></app-list-view>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item>
    <igx-tab-header>
      <!-- <igx-icon igxTabHeaderIcon>info</igx-icon> -->
      <span igxTabHeaderLabel>CONSULTAS</span>
    </igx-tab-header>
    <igx-tab-content>
      <app-list-view></app-list-view>
    </igx-tab-content>
  </igx-tab-item>
</igx-tabs>
