@use '../../variables' as *;

$my-tabs-theme: tabs-theme(
  $item-text-color: black,
  $item-background: rgb(255, 255, 255),
  $button-background: white,
  $item-hover-background: white,
  $item-active-background: white,
  $indicator-color: rgb(255, 255, 255),
);

@include css-vars($my-tabs-theme);

igx-tabs {
  margin: 1em;
  border-radius: 10px;
  // background-color: white;
  background-color: #dadada;
}

igx-tab-header {
  border-radius: 10px 10px 0 0;
  margin: 0 7px 0 0;
  border-bottom: 1px solid #dadada;
}

igx-tab-content {
  background: white;
  border-radius: 0 10px 0 0;
}

::ng-deep .igx-tabs__header {
  background: #dadada;
}
