@use '../../variables' as *;

.sample-column {
  width: 500px;
}

// igx-input {
//   height: 100px;
// }

:host ::ng-deep igx-input-group .igx-input-group__bundle-main {
  // height: 20px;
  // padding-top: 0px !important;
}

input {
  // padding-top: 5px;
}
// igx-input-group {
//   height: 100px;
// }

$custom-input-group: input-group-theme(
  $border-background: #ffffff,
  $border-border-radius: 10px,
  $border-disabled-background: #c0c0c0,
);

:host {
  @include css-vars($custom-input-group);
}
