@use '../../variables' as *;

$custom-navbar-theme: navbar-theme(
  $text-color: #151515,
  $background: #ffffff,
  $idle-icon-color: #151515,
  $hover-icon-color: #dfdfdf,
);

:host {
  @include css-vars($custom-navbar-theme);
}

// .buttons-sample {
//   flex-direction: column;
//   background: #eeeeee;
// }

.navbar {
  height: 8%;
}

::ng-deep .navbar igx-navbar nav,
.navbar igx-navbar {
  border-radius: 10px;
  height: 100%;
}

.titleContent {
  max-height: 100%;
}

img {
  height: 10px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  background-color: #151515;
}
// .header-image {
//   width: 10%;
// }

// .titulo {
//   position: absolute;
//   top: 0.9em;
//   padding-left: 0.5em;
// }

// igx-navbar {
//   border-radius: 8px;
// }

// nav.igx-navbar,
// nav,
// igx-navbar * {
//   border-radius: inherit !important;
// }

// .card-wrapper,
// igx-card {
//   position: absolute;
//   width: 200px;
//   height: 100%;
//   right: 0px;
//   background: #eeeeee;
// }

// .buttons {
//   height: 100%;
//   width: 100%;
// }

// .nav *,
// igx-navbar nav *,
// .igx-navbar *,
// nav.igx-navbar * {
//   border-radius: 10px !important;
// }

// .titulo {
//   font-size: 4em;
// }

.version {
  float: right;
  bottom: 0.1em;
  font-size: 0.7em;
}
