@use '../../variables' as *;

$custom-navbar-theme: navbar-theme(
  $text-color: #151515,
  $background: #a81b1b,
  $idle-icon-color: #151515,
  $hover-icon-color: #c93030,
);

:host {
  @include css-vars($custom-navbar-theme);
}

.buttons-sample {
  flex-direction: column;
  background: #eeeeee;
}

img {
  max-width: 10px;
  max-height: 10px;
  border-radius: 50%;
  background-color: #151515;
}
// .header-image {
//   width: 10%;
// }

// .titulo {
//   position: absolute;
//   top: 0.9em;
//   padding-left: 0.5em;
// }

// igx-navbar {
//   border-radius: 8px;
// }

// nav.igx-navbar,
// nav,
// igx-navbar * {
//   border-radius: inherit !important;
// }

// .card-wrapper,
// igx-card {
//   position: absolute;
//   width: 200px;
//   height: 100%;
//   right: 0px;
//   background: #eeeeee;
// }

// .buttons {
//   height: 100%;
//   width: 100%;
// }
.version {
  float: right;
  bottom: 0.1em;
  font-size: 0.7em;
}
