<div class="sample-column navbar">
  <igx-navbar class="nav">
    <igx-navbar-action>
      <button igxButton="icon" igxToggleAction="navigation">
        <igx-icon>menu</igx-icon>
      </button>
    </igx-navbar-action>
    <div igxNavbarTitle class="title">
      <img src="https://cdn-icons-png.flaticon.com/512/196/196319.png" />
      <span class="titulo">Nombre Máquina 1</span>
    </div>

    <div class="buttons">
      <app-igx-dialog></app-igx-dialog>
      <span class="version">v4.2.5.0</span>
    </div>
  </igx-navbar>
</div>
