<div class="sample-column navbar">
  <igx-navbar class="nav">
    <igx-navbar-action>
      <button igxButton="icon" igxToggleAction="navigation">
        <igx-icon>menu</igx-icon>
      </button>
    </igx-navbar-action>
    <div igxNavbarTitle class="prueba">
      <!-- <div class="titleContent"> -->
      <img
        class="header-image"
        src="https://cdn-icons-png.flaticon.com/512/196/196319.png"
      />
      <span class="titulo">Nombre Máquina 1</span>
    </div>
    <!-- </div> -->
    <!-- <button
      igxButton="raised"
      igxRipple="#fdfdfd"
      class="buttons-sample"
      data-toggle="modal"
      (click)="alert.open()"
      data-target="#myModal"
    >
      <igx-icon>house</igx-icon>
      <span>Cambiar Centro</span>
    </button> -->
    <div class="buttons">
      <app-igx-dialog></app-igx-dialog>
      <span class="version">v4.2.5.0</span>
    </div>
  </igx-navbar>
</div>

<!-- <igx-dialog
  #alert
  title="Notification"
  message="Your email has been sent successfully!"
  leftButtonLabel="OK"
  (leftButtonSelect)="alert.close()"
>
</igx-dialog> -->
